:root {
  --editer-gray: gray;
  --editer-white: azure;
  --editer-height: 550px;
}

.code-layout {
  height: var(--editer-height);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  border-bottom: 8px solid var(--editer-gray);
  border-top: 5px solid var(--editer-gray);
}

.code-results {
  flex-basis: 35%;
  border-left: 5px solid var(--editer-gray);
  color: var(--editer-white);
}

#text-edit {
  height: var(--editer-height) !important;
  flex-basis: 65%;
}

#code-results {
  height: var(--editer-height) !important;
  width: 100% !important;
  border-bottom: 8px solid var(--editer-gray);
}
